@model IEnumerable<Videos>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ControlPanel.cshtml";
}


<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300&family=Amiri&family=Aref+Ruqaa&family=Cairo:wght@200&display=swap" rel="stylesheet">

<h1 style=" font-family: 'Tajawal', sans-serif; text-align: center; color:brown;">الفيديوهات التعريفية</h1>

<form class="form-inline" method="post">
    <div class="form-group">
        <div class="input-group">            
            <form action="@Url.Action("Index", "CPVideos")" method="get" class="form-inline">
                <input type="text" name="title" id="Search" class="form-control" placeholder="بحث" />
                <button id="buttonsubsribe" class="btn btniconB" type="submit">بحث</button>
            </form>
            <a href="@Url.Action("Create", "CPVideos")" class="btn btniconB" style="text-align:center; color:white;">
                إضافة فيديو
            </a>
        </div>
    </div>
</form>
<br />

<!-- الفيديو التعريفي -->
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h3 style=" font-family: 'Tajawal', sans-serif;">الفيديو التعريفي</h3><br />             
            <table class="table table-bordered" style="font-family:'Tajawal', sans-serif; text-align:center">
                <thead>
                    <tr>
                        <th> رقم ID </th>
                        <th> عنوان الفيديو </th>
                        <th>موضع الفيديو</th>
                        <th> إظهار </th>
                        <th> عمليات </th>
                    </tr>
                </thead>
                <tbody>
                   @foreach (var item in Model)
                    {
                        <tr>
                            <td> @item.Id </td>
                            <td> @item.VideoTitle </td>
                            <td> @item.VideoPosition</td>
                            <td>
                                @Html.CheckBoxFor(modelItem => item.status, new { disabled = "disabled" })
                            </td>
                            <td>
                                <button type="submit" class="btn btn-primary mr-2">
                                    <a asp-action="Edit" asp-controller="CPVideos" asp-route-id="@item.Id"><span style="color:white"> تعديل</span></a>
                                </button> |
                                <button type="submit" class="btn btn-primary mr-2">
                                    <a href="@item.VideoLink"><span style="color:white"> عرض </span></a>
                                </button> |
                                <form asp-action="Delete" asp-route-id="@item.Id" class="btn mr-1">
                                    <button type="submit" class="btn btn-primary mr-2">
                                        <i data-toggle="tooltip">حذف</i>
                                    </button>
                                </form>
                                @* <button type="submit" class="btn btn-primary mr-2" data-toggle="modal" data-target="#DeleteModel">
                                    <i data-toggle="tooltip">حذف</i>
                                </button> *@

                            </td>
                        </tr>
                    }                                                                
                </tbody>
            </table><br/>           
        </div>
    </div>
</div> 

@* <div class="modal fade " id="DeleteModel" tabindex="-1" role="dialog" aria-labelledby="DeleteModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">تأكيد الحذف</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-0">هل أنت متأكد من الحذف</h5>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-danger" data-dismiss="modal">حذف</button>&emsp;
                <button type="button" class="btn btn-secondary" data-dismiss="modal">إلغاء الحذف</button>
            </div>
        </div>
    </div>
</div>
 *@
<!-- partial -->
<!-- main-panel ends -->
