@model IEnumerable<events>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_ControlPanel.cshtml";
}

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300&family=Amiri&family=Aref+Ruqaa&family=Cairo:wght@200&display=swap" rel="stylesheet">

<h1 style=" font-family: 'Tajawal', sans-serif; text-align: center; color:brown;">الفعاليات</h1>

<form class="form-inline" method="post">
    <div class="form-group">
        <div class="input-group">
            <select id="Type" name="Type" class="form-control">
                <option value="1">عنوان الفعالية</option>
                <option value="2"> تاريخ النشر</option>
            </select>&ensp;
            <form action="@Url.Action("Index", "CPEvents")" method="get" class="form-inline">
                <input type="text" name="title" id="Search" class="form-control" placeholder="بحث" />
                <button id="buttonsubsribe" class="btn btniconB" type="submit">بحث</button>
            </form>
            <a href="@Url.Action("Create", "CPEvents")" class="btn btniconB" style="text-align:center; color:white;">
                إضافة فعالية
            </a>
        </div>
    </div>
</form>
<br />

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            @*<h4 class="card-title">Bordered table</h4>
            <p class="card-description">
            Add class <code>.table-bordered</code>
            </p>*@
            <table class="table table-bordered" style="font-family:'Tajawal', sans-serif; text-align:center">
                <thead>
                    <tr>
                        <th> رقم ID </th>
                        <th> عنوان الفعالية </th>
                        <th> تاريخ النشر </th>
                        <th> الجهة </th>
                        <th> صورة </th>
                        <th> إظهار </th>
                        <th> عمليات </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td> @item.Id </td>
                            <td> @item.Name </td>
                            <td> @item.CreateDate </td>
                            <td> @item.Organization </td>
                            <td>
                                <img src="~/img/events/@item.ImageUrl"></img>
                            </td>
                            <td>
                                @Html.CheckBoxFor(modelItem => item.status, new { disabled = "disabled" })
                            </td>                            
                            <td>
                                <button type="submit" class="btn btn-primary mr-2">
                                    <a asp-action="Edit" asp-controller="CPEvents" asp-route-id="@item.Id"><span style="color:white"> تعديل</span></a>
                                </button>  | 
                                 <button type="submit" class="btn btn-primary mr-2">
                                    <a asp-action="delete" asp-controller="CPEvents" asp-route-id="@item.Id"><span style="color:white"> حذف</span></a>
                                </button> 

                               @*  <form asp-action="delete" asp-route-id="@item.Id">
                                    <button type="submit" class="btn btn-primary mr-2">
                                        <i data-toggle="tooltip">حذف</i>
                                    </button>
                                </form> *@
                            </td>
                        </tr>
                    }   
                </tbody>
            </table>
        </div>
    </div>
</div>
@* Edit Form *@
@* <div class="modal fade" tabindex="-1" role="dialog" id="Edit">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">تعديل</h5>
                <button type="button" class="close" data-dismiss="modal" arial-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-controller="CPEvents" asp-action="Index">
                <div class="modal-body">
                    <div class="form-group">
                        <label>ID : </label>
                        <input type="text" class="form-control" name="id" id="id" readonly />
                    </div>
                    <div class="form-group">
                        <label>الإسم : </label>
                        <input type="text" class="form-control" name="Name" id="name" />
                    </div>
                    <div class="form-group">
                        <label>تاريخ النشر : </label>
                        <input type="date" class="form-control" name="CreateDate" id="createdate" />
                    </div>
                    <div class="form-group">
                        <label>الجهة : </label>
                        <input type="text" class="form-control" name="Organization" id="organization" />
                    </div>
                    <div class="form-group">
                        <label>الصورة : </label>
                        <input type="text" class="form-control" name="ImageUrl" id="imageurl" />
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">إلغاء</button>
                    <button type="submit" class="btn btn-primary">حفظ</button>
                </div>
            </form>
        </div>
    </div>
</div>
 *@
<div class="modal fade " id="DeleteModel" tabindex="-1" role="dialog" aria-labelledby="DeleteModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">تأكيد الحذف</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-0">هل أنت متأكد من حذف الفعالية</h5>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-danger" data-dismiss="modal">حذف</button>&emsp;
                <button type="button" class="btn btn-secondary" data-dismiss="modal">إلغاء الحذف</button>
            </div>
        </div>
    </div>
</div>

@* <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script> *@

@* <script>
    $(document).ready(function () {
        $('table .edit').on('click', function () { 
            var id = $(this).data("id");

            $.ajax({
                type:'POST',
                url: 'Home/FindRecord/',
                data: { "cusid": id },
                success: function (response) {
                    $('#Edit #id').val(response.id);
                    $('#Edit #name').val(response.name);
                    $('#Edit #createdate').val(response.createdate);
                    $('#Edit #organization').val(response.organization);
                    $('#Edit #imageurl').val(response.imageurl);
                }
            })
        })
    });
</script> *@
<!-- partial -->
<!-- main-panel ends -->
